<html>
    <head>
        <style>
            input[type="checkbox"]:checked{
                color:red;
            }
        </style>

    </head>
    <body>
        <form>
            <input type="text" name="abc" value="abaga">
            <div>
                
            </div>
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">i have somethin<br>

        </form>
    </body>
</html>
/**<% for(let item of locals.data) {%>
    
    <tr>
        <% let id= k+'chechbox' ;%>
       <td><input type="checkbox" value=<%= id %>></td>
       <td><%=item['todo'] %></td>
       <td><%= item['due-date']  %></td>
       <td><button class="btn btn-primary" onclick="window.location='/viewMe?id=<%= item._id %>'">View</button></td>
       <td><button class="btn btn-danger"  onclick="window.location='/deleteMe?id=<%= item._id %>'">Delete</button></td>
      </tr>
      <% k++%>
    <% }%>

<% } %>
