<html>
    <head>
        <title>
            <%= title%>
        </title>
        <!--adding bootstrap to make look of button good -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!--adding font awesome cdn-->
    	<meta name="viewport" content="width=device-widht initail-scale=1.0">
	    <script src="https://kit.fontawesome.com/b5d0e4ac97.js" crossorigin="anonymous"></script>
	    <script src="https://kit.fontawesome.com/b5d0e4ac97.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
       <header><h1>TODO APP</h1></header>
       <!--dividing all body into three part left mid right-->
       <div id="mainContainer" class="border">
           <div id="left" class="border">
            <% if(view==true){%>
               <%- include('viewData.ejs'); -%>
               <% } %>
       
           </div>
           <div id="mid" class="border">
               <form action="/addTodo" method="post">
                   <input type="text" name="todoListItem" class="todoListAdd form-control" 
                   placeholder=" enter your task to add " autocomplete="off" required>
                <button type="submit" class="btn btn-success" id="submitItem">ADD IT </button>
               </form>
               <table class="table">
                   <% if(data!=undefined&&data.length>0){ %>
                    <thead class="thead-dark">
                        <tr>
                          <th scope="col">Mark</th>
                          <th scope="col">TODO</th>
                          <th scope="col">DUE-DATE</th>
                          <th scope="col">VIEW IT</th>
                          <th scope="col">DELETE</th>
                        </tr>
                      </thead>
                      <% let k=0 %>    
                    <% for(let item of locals.data) {%>
                        <% let a1="1";%>
                        <tr id=<%= k %>>
                            <% let id= k ;%>
                           <td><input type="checkbox"  name="checkbox" value=<%= id %>></td>
                           <td><%=item['todo'] %></td>
                           <td><%= item['due-date']  %></td>
                           <td><button class="btn btn-primary" onclick="window.location='/viewMe?id=<%= item._id %>'">View</button></td>
                           <td><button class="btn btn-danger"  onclick="window.location='/deleteMe?id=<%= item._id %>'">Delete</button></td>
            
                        </tr>
                          <% k++%>
                        <% }%>

                   <% } %>

               </table>

           </div>
           <div id="right" class="border">
               <% if(complete==true){%>
                <h1 class="text text-center"><%= locals.todo %></h1>
               <%- include('complete.ejs'); -%>
               <% } %>
           </div>

       </div>
       <!--adding bootstrap jquery-->
       <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script src="js/home.js"></script>
    </body>
</html>